@charset "utf-8";
@import "~bulma/bulma.sass";

.is-shadowed {
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
}

.is-flex-start {
    justify-content: flex-start;
}

.is-borderless {
    border: none;
}

.is-padding-lefted {
    padding-left: 12px;
}

.section {
    padding: 4rem 1.5rem 3rem;
}